<ion-content class="bg">
  <h5 class="roomName">Welcome to {{roomID}}</h5>
  <div class="col2">
    <ion-card class="offStatus" *ngIf="!PowerColor">
      <ion-card-content>
        <ion-label (click)="systemToggle()">System is {{systemStatus}}</ion-label>
      </ion-card-content>
    </ion-card>
    <ion-card class="onStatus" *ngIf="PowerColor">
      <ion-card-content>
        <ion-label (click)="systemToggle()">System is {{systemStatus}}</ion-label>
      </ion-card-content>
    </ion-card>
  </div>
  <div class="row">
    <div class="col">
      <ion-item>
        <ion-label>Power On/Off</ion-label>
        <ion-toggle [(ngModel)]="statusPower" (ionChange)="onChangePower()"></ion-toggle>
      </ion-item>
    </div>
  </div>
  <div class="row" *ngIf="statusPower">
    <div class="col">
      <ion-item>
        <ion-label>Projector On/Off</ion-label>
        <ion-toggle [(ngModel)]="statusProjector" (ionChange)="onChangeProjector()"></ion-toggle>
      </ion-item>
    </div>
  </div>
  <div class="row" *ngIf="statusPower">
    <div class="col">
      <ion-item>
        <ion-label>Screen Up/Down</ion-label>
        <ion-toggle [(ngModel)]="statusScreen" (ionChange)="onChangeScreen()"></ion-toggle>
      </ion-item>
    </div>
  </div>
  <div class="row" *ngIf="statusPower">
    <div class="col">
      <ion-item>
        <ion-label>Projector Mute/Unmute</ion-label>
        <ion-toggle [(ngModel)]="statusProjectorMute" (ionChange)="onChangeProjectorMute"></ion-toggle>
      </ion-item>
    </div>
  </div>
  <div class="row" *ngIf="statusPower">        
	`<div class="col2">
      <ion-card class="offStatus" *ngIf="!PCColor">
        <ion-card-content>
          <img class="imageButton" src="assets/imgs/pc.png">
          <ion-label (click)="PC()" class="buttonLabel">PC</ion-label>
        </ion-card-content>
      </ion-card>
      <ion-card class="onStatus" *ngIf="PCColor">
        <ion-card-content>
          <img class="imageButton" src="assets/imgs/pc.png">
          <ion-label (click)="PC()" class="buttonLabel">PC</ion-label>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  <div class="row" *ngIf="statusPower">
	  <div class="col2">
      <ion-card class="offStatus" *ngIf="!HDMIColor">
        <ion-card-content>
          <img class="imageButton" src="assets/imgs/hdmi.png">
          <ion-label (click)="HDMI()" class="buttonLabel">HDMI</ion-label>
        </ion-card-content>
      </ion-card>
      <ion-card class="onStatus" *ngIf="HDMIColor">
        <ion-card-content>
          <img class="imageButton" src="assets/imgs/hdmi.png">
          <ion-label (click)="HDMI()" class="buttonLabel">HDMI</ion-label>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  <div class="row" *ngIf="statusPower">
	  <div class="col2">
      <ion-card class="offStatus" *ngIf="!VGAColor">
        <ion-card-content>
          <img class="imageButton" src="assets/imgs/vga.png">
          <ion-label (click)="VGA()" class="buttonLabel">
            Visualizer
            <br>VGA
          </ion-label>
        </ion-card-content>
      </ion-card>
      <ion-card class="onStatus" *ngIf="VGAColor">
        <ion-card-content>
          <img class="imageButton" src="assets/imgs/vga.png">
          <ion-label (click)="VGA()" class="buttonLabel">
            Visualizer
            <br>VGA
          </ion-label>
        </ion-card-content>
      </ion-card>
    </div>    
  </div>
  <div class="row" *ngIf="statusPower">
    <div class="col2">
      <ion-card class="offStatus" *ngIf="!WirelessPresenterColor">
        <ion-card-content>
          <img class="imageButton" src="assets/imgs/remote.png">
          <ion-label (click)="WirelessPresenter()" class="buttonLabel">
            Wireless
            <br>Presenter
          </ion-label>
        </ion-card-content>
      </ion-card>
      <ion-card class="onStatus" *ngIf="WirelessPresenterColor">
        <ion-card-content>
          <img class="imageButton" src="assets/imgs/remote.png">
          <ion-label (click)="WirelessPresenter()" class="buttonLabel">
            Wireless
            <br>Presenter
          </ion-label>
        </ion-card-content>
      </ion-card>
    </div>	
  </div>
  <div class="row" *ngIf="statusPower">
	  <div class="col2">
      <ion-card class="offStatus" *ngIf="!Aux1Color">
        <ion-card-content>
          <img class="imageButton" src="assets/imgs/auxcable.png">
          <ion-label (click)="Aux1()" class="buttonLabel">AUX</ion-label>
        </ion-card-content>
      </ion-card>
      <ion-card class="onStatus" *ngIf="Aux1Color">
        <ion-card-content>
          <img class="imageButton" src="assets/imgs/auxcable.png">
          <ion-label (click)="Aux1()" class="buttonLabel">AUX</ion-label>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  <div class="row" *ngIf="statusPower">
    <div class="col col-50">
        <ion-card class="offStatus" *ngIf="!AutoLockColor">
          <ion-card-content>
            <img class="imageButton" src="assets/imgs/autolock.png">
            <ion-label (click)="AutoLock()" class="buttonLabel">
              Auto
              <br>Lock
            </ion-label>
          </ion-card-content>
        </ion-card>
        <ion-card class="onStatus" *ngIf="AutoLockColor">
          <ion-card-content>
            <img class="imageButton" src="assets/imgs/autolock.png">
            <ion-label (click)="AutoLock()" class="buttonLabel">
              Auto
              <br>Lock
            </ion-label>
          </ion-card-content>
        </ion-card>
      </div>
      <div class="col col-50">
        <ion-card class="offStatus" *ngIf="!AutoLockColor">
          <ion-card-content>
            <img class="imageButton" src="assets/imgs/autolock.png">
            <ion-label (click)="UnlockAV()" class="buttonLabel">
              Unlock
              <br>AV
            </ion-label>
          </ion-card-content>
        </ion-card>
        <ion-card class="onStatus" *ngIf="AutoLockColor">
          <ion-card-content>
            <img class="imageButton" src="assets/imgs/autolock.png">
            <ion-label (click)="UnlockAV()" class="buttonLabel">
              Unlock
              <br>AV
            </ion-label>
          </ion-card-content>
        </ion-card>
      </div>    
  </div>