@using System.Web.Http
@using System.Web.Http.Controllers
@using System.Web.Http.Description
@using System.Collections.ObjectModel
@using TestAPI.Areas.HelpPage.Models
@model Collection<ApiDescription>

@{
    ViewBag.Title = "ASP.NET Web API Help Page";

    // Group APIs by controller
    ILookup<HttpControllerDescriptor, ApiDescription> apiGroups = Model.ToLookup(api => api.ActionDescriptor.ControllerDescriptor);
}

<link type="text/css" href="~/Areas/HelpPage/HelpPage.css" rel="stylesheet" />
<style>
    .helpapi {
        background-color: white;
    }
</style>
<div class="helpapi" style="padding-top:-20px;margin-left:-150px;">
    <header class="help-page helpapi">
        <div class="content-wrapper helpapi">
            <div class="float-left ">
                <h1>@ViewBag.Title</h1>
            </div>
        </div>
    </header>
    <div id="body" class="help-page helpapi">
        <section class="featured">
            <div class="content-wrapper helpapi">
                <h2>Introduction</h2>
                <p>
                    Provide a general description of your APIs here.
                </p>
            </div>
        </section>
        <section class="content-wrapper main-content clear-fix helpapi">
            @foreach (var group in apiGroups)
            {
                @Html.DisplayFor(m => group, "ApiGroup")
            }
        </section>
    </div>

</div>

